In [13]:
employees = {
    "Ravi": 92,
    "Anita": 88,
    "Kiran": 92,
    "Suresh": 85
}

highest_score = 0

for score in employees.values():
    if score > highest_score:
        highest_score = score

top_employees = []

for name in employees:
    if employees[name] == highest_score:
        top_employees.append(name)

print("Top Performers Eligible for Bonus:", ", ".join(top_employees), "(Score:", highest_score, ")")

Top Performers Eligible for Bonus: Ravi, Kiran (Score: 92 )

In [14]:
query = "Buy mobile phone buy phone online"

query = query.lower()

import string
for char in string.punctuation:
    query = query.replace(char, "")

words = query.split()

frequency = {}
for word in words:
    frequency[word] = frequency.get(word, 0) + 1

result = {word: count for word, count in frequency.items() if count > 1}

print(result)

{'buy': 2, 'phone': 2}

In [15]:
sensor_readings = [3, 4, 7, 8, 10, 12, 5]

valid_readings = []

for index, value in enumerate(sensor_readings):

    if value % 2 == 0:
        valid_readings.append((index, value))

print("Valid Sensor Readings (Hour, Value):", valid_readings)

Valid Sensor Readings (Hour, Value): [(1, 4), (3, 8), (4, 10), (5, 12)]

In [16]:
emails = [
    "ravi@gmail.com",
    "anita@yahoo.com",
    "kiran@gmail.com",
    "suresh@gmail.com",
    "meena@yahoo.com"
]

domain_count = {}

for email in emails:
    parts = email.split("@")
    domain = parts[1]

    if domain in domain_count:
        domain_count[domain] += 1
    else:
        domain_count[domain] = 1

total_emails = len(emails)

for domain in domain_count:
    percentage = (domain_count[domain] / total_emails) * 100
    print(domain + ":", int(percentage), "%")

gmail.com: 60 %
yahoo.com: 40 %

In [17]:
sales = [1200, 1500, 900, 2200, 1400, 3000]

total = 0

for value in sales:
    total += value

average = total / len(sales)

limit = average + (average * 0.30)

for i in range(len(sales)):
    if sales[i] > limit:
        print("Day", i + 1, ":", sales[i])

Day 6 : 3000

In [18]:
user_ids = ["user1", "user2", "user1", "user3", "user1", "user3"]

count_ids = {}

for user in user_ids:
    if user in count_ids:
        count_ids[user] += 1
    else:
        count_ids[user] = 1

for user in count_ids:
    if count_ids[user] > 1:
        print(user, "→", count_ids[user], "times")

user1 → 3 times
user3 → 2 times