In [16]:
# Problem 1: Unique Words in a Sentence

sentence = input("Enter sentence: ")
words = sentence.split()

unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: data science is fun and data science is growing
Unique words count: 6
Unique words: {'and', 'is', 'data', 'growing', 'fun', 'science'}

In [7]:
# Problem 2: Highest Salary from Employee Data

employees = {
    "Tharun": 95000,
    "Shannu": 86000,
    "Mani": 80000
}

highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print(f"Highest Salary: {highest_employee} - {highest_salary}")

Highest Salary: Tharun - 95000

In [8]:
# Problem 3: Find Maximum and Minimum Values

numbers = [34, 78, 12, 99, 56]

max_value = numbers[0]
min_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [34, 78, 12, 99, 56]
Max: 99
Min: 12

In [9]:
# Problem 4: Count Products Above a Price Threshold

prices = [650, 1800, 950, 2200, 400]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [10]:
# Problem 5: Calculate Attendance Percentage

attendance = ["P", "A", "P", "P", "A", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

attendance_percentage = (present_count / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 66.66666666666666

In [11]:
# Problem 6: Remove Duplicate Phone Numbers

phone_numbers = [9988776655, 9090909090, 9988776655, 8811223344]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {8811223344, 9090909090, 9988776655}

In [12]:
# Problem 7: Count Character Frequency

text = "analytics"

char_frequency = {}

for char in text:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

print(char_frequency)

{'a': 2, 'n': 1, 'l': 1, 'y': 1, 't': 1, 'i': 1, 'c': 1, 's': 1}

In [13]:
# Problem 8: Convert List to Tuple

numbers = [5, 15, 25, 35]

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (5, 15, 25, 35)

In [14]:
# Problem 9: Check if a Key Exists in a Dictionary

employees = {
    "Rahul": 60000,
    "Sneha": 72000
}

key_to_check = "Sneha"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [15]:
# Problem 10: Calculate Average Marks

marks = [68, 74, 81, 59, 77]

total = sum(marks)
average = total / len(marks)

print("Average Marks:", average)

Average Marks: 71.8